:plain
  <html>
    <head>
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
      <h1>Your Help is Needed!</h1>
      <br>
      <br>
      <p>
        View the Application:
      </p>
      <p>
        <%= @url %>.
      </p>
      <br>
      <br>
      <p>Thanks for wanting to help founders :)</p>
    </body>
  </html>