.container
  %div{:style => "text-align:center"}
    .hero-unit
      %h3 Welcome to HelpStart
      %h1 Help Startups. Earn Equity.
      %h4 We take care of the paperwork.  You focus on providing value.
      = link_to "Join Now","#", :class => "btn btn-large btn-success"