.container.howbox
  .row
    .center
      %h3{:style => 'color : #ff9900;'} How it Works
  .row{:style => "padding:20px 0 20px 0;"}
    .span8.offset1
      %h2{:style => 'color : #666;'} 1) Helpers Say How They Can Help Startups
      %p{style: "padding:20px 30px 10px 30px"} Helpers sign up and create "Help Packages".  Help Packages are a combination of weekly meetings with the founders as well as work done each week outside of the meetings. Depending on the purpose of the Help Package, the amount of meeting time and work time may vary.
  .row  
    .span8.offset1
      %h2{:style => 'color : #666;'} 2) Startups Apply for Help
      %p{style: "padding:20px 30px 10px 30px"} Startups can search the posted Help Packages.  If they find one that they feel would be of benefit to their startup, they apply for the package.  All packages cost .1% equity per month and a .01% transaction fee.
  .row
    .span8.offset1
      %h2{:style => 'color : #666;'} 3) Helpers Select from Applicants
      %p{style: "padding:20px 30px 10px 30px"} Helpers are notified when they receive a new application and can review and accept the applications of their choosing.  If an application is accepted the Helper and the Startup get in contact and the month of structured help begins.
  .row
    .span8.offset1
      %h2{:style => 'color : #666;'} 4) Work is Done, Equity is Transferred
      %p{style: "padding:20px 30px 10px 30px"} After the month of work is complete, the founder signs the equity grant to award the shares to the Helper.  Then they review each other.  If they would like to, they continue working together under the same agreement.     

  .row
    .white-panel.center
      %h4{style: "font-weight:bold"} Cost? Startups are charged a .01% equity premium on successful connections.
      %p (We get paid for connecting Startups to people who help them.) 
   