.container
  .row
    .span12.center
      %h3{:style => 'color : #ff9900;'} How it Works
  .row{:style => "padding:20px 0 20px 0;"}
    .span8.offset2
      %h2{:style => 'color : #666;'} 1) People List How They Can Help
      %p{style: "padding:20px 30px 10px 30px"} Qualified people list how they can help startups by creating a Help Package.  We screen people who wish to help and give support in creating help packages that will be desirable to startups.
  .row  
    .span8.offset2
      %h2{:style => 'color : #666;'} 2) Startups Apply for Help
      %p{style: "padding:20px 30px 10px 30px"} Startups can search the posted Help Packages.  If they find one that they feel would be of benifit to their startup, they apply for the package.  All packages cost .1% equity per month not including the .01% transaction fee.
  .row
    .span8.offset2
      %h2{:style => 'color : #666;'} 3) Helpers Select from Applicants
      %p{style: "padding:20px 30px 10px 30px"} Helpers are notified when they receive a new application and can review and accept their the applications of their choosing.  If an application is accepted the Helper and the Startup get in contact and the month of structured help begins.
  .row
    .span8.offset2
      %h2{:style => 'color : #666;'} 4) Work is Done, Equity is Transfered
      %p{style: "padding:20px 30px 10px 30px"} After the month of work is complete the contact founder signs the equity grant to award the shares to the Helper.  Then they both leave reviews for each other.  If they would like to continue working together they may.     

  .row
    .white-panel.center
      %h4{style: "font-weight:bold"} Cost? Startups are charged a .01% equity premium on successful connections.
      %p (We get paid for connecting Startups to people who help them.)  