.nav { 
  li {
  padding-top:3px;
  }
}

body {
  background-color:#fff;
}

.sign_up_css {
    h1 { 
    color: #ccc;
    font-size: 5em;
    line-height: 1em;
    padding-top:10px
    }
    h4 {
    color: #888;
    padding-top:30px;
    }
    p {
    color : #999;
    padding: 10px 0 10px 0;
    }
    a {
    color: #666;
    }
    h3 {
    color:#222;
    }
}

.hero-unit {
  background: url(bkg2.png) no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 1px solid #dadada;
  color: #333;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
  text-shadow: 0em 0em 1.8em #fff;

}



.white-panel {
  
  background: #fcfcfc;
  border: 1px solid #dadada;
  padding:10px 0px 10px 0px;
  margin-bottom: 40px;
  margin-top: 40px;
  color: #333;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .075);


}


