// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.message_box {
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;

    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border:  1px solid #f1f1f1; 

    background-color:#fff;
    margin-bottom:15px;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.075);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .075);
  

}

.requests {
  .rbox {
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;

    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border:  1px solid #ccc; 
    margin:30px auto;
    padding-top:60px;
    background-color:#fff;
    height:460px;
    width:870px;
    -webkit-box-shadow: 1px 100px 6px rgba(0, 0, 0, .375);
    -moz-box-shadow: 1px 100px 6px rgba(0,0,0,.375);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .375);

  }
  .profile_pic {
    margin: 0px 0px 0 40px;
  }
  .header {
    
    padding:10px 0 0 20px;
    width:210px;
    h3 {
    font-size: 22px;
    line-height:20px;
    a {
      color:#666;
    }
  }
 

  .rtitle {
    font-size:.9em;
    color:#999;
    text-transform: uppercase;
    font-weight:bold;
    a {
      color:#777;
    }
  }
  }


  .rtext {
    margin: 30px 30px 0 40px;
    color:#999;
    li {
    padding: 10px 0 0 0;
    color:#999;


    }
  }
  .rapplicaiton {
    padding-bottom: 20px;
    font-size:1.7em;
    color:#999;
    text-transform: uppercase;
    font-weight:bold;


  }




}